{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint-config-airbnb-base", "prettier"],
  "plugins": ["prettier", "promise"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "error",
    "no-console": "off"
  }
}
